.homeMain {
  .headSection {
    h1 {
      margin-bottom: 0.5rem;
    }
    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .articlesSection {
    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .charactersContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      li {
        width: clamp(250px, 30vw, 400px);
        .characterCard {
          padding: 1rem;
          h2 {
            text-align: center;
            color: black;
          }
          img {
            width: 100%;
            height: 250px;
            object-fit: contain;
          }
          .seeMore {
            text-align: center;
            border-bottom: 1px solid var(--secondary-color);
            width: max-content;
            padding-bottom: 0.2rem;
            margin: 0 auto;
          }
        }
      }
      li:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}

.characterPopin {
  position: fixed;
  top: 0;
  left: 1;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  display: none;
  h2,
  h3,
  p {
    text-align: center;
  }
  h2 {
    font-weight: 800;
    font-size: 3rem;
  }
  h3 {
    font-weight: 400;
    font-size: 1.5rem;
  }
  img {
    margin: 2rem auto;
    width: 250px;
    display: block;
  }
}

.characterPopin.active {
  display: block;
}
